body{
	padding:0;
	margin:0;
}
p
{
    font: Verdana;
}

.topbar {
	width: 100%-10px;
	height: 24px;
	color: white;
	background-color: black;
	padding: 5px;
}

.errors {
	color: #D8000C;
	background-color: #FFBABA;
	margin: 10px 0;
	padding: 12px;
}

.topbar span a {
	color: white;
}
img.homepage{
   position:absolute;  
    opacity: 0.5;
}
div.topmenu{
    background-image: url(../homepage.jpg);
    width: 1000px;
	vertical-align: top;
    text-align: center;
    color:white;
    border: solid;
    border-color: black;
    border-width: thick;
    opacity: 0.5;
}
div.container{
    position: absolute;
    left: 10%;
    right: 1;
    margin: auto;
}
}
